---
layout: page
title: wheelchair++
subtitle: <i>"Being bounded does not have to be limiting"</i>
---

<div style="background:#91cac8 !important" class="main-explain-area jumbotron">
  <p>The interconnected wheelchair that <strong>provides and extends capabilities</strong>.
    Seamlessly integrated with you and the internet through intelligent use of data, collected through several sensors.</p>
  <p> </p>
  <img src="img\hpvisual.png" alt="600">
  <p>This concept is still in its preliminary stages. To follow the decision-making moments you can see the posts below.</p>
  <p>For more information about the concept itself or the prototype, click on <i>'Project description'</i> in the header.</p>
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read More</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
