<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <style> /* set the CSS */
    body { font: 12px Arial;}
    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }
    .axis path,
    .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
    }
    </style>
</head>

<body>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('static', filename='js/graph3.js') }}" language="JavaScript"></script>
<script>
// Set the dimensions of the canvas / graph
  var margin = {top: 30, right: 20, bottom: 30, left: 50},
      width = 600 - margin.left - margin.right,
      height = 270 - margin.top - margin.bottom;
// Parse the date / time
  var parseDate = d3.time.format("%d-%b-%y").parse;
// Set the ranges
  var x = d3.time.scale().range([0, width]);
  var y = d3.scale.linear().range([height, 0]);
// Define the axes
  var xAxis = d3.svg.axis().scale(x)
      .orient("bottom").ticks(5);
  var yAxis = d3.svg.axis().scale(y)
      .orient("left").ticks(5);
// Define the line
  var valueline = d3.svg.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.close); });
// Adds the svg canvas
  var svg = d3.select("body")
      .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
      .append("g")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
// Get the data
  d3.csv(("{{ url_for('static', filename='text/t5.csv') }}", function(error, data) {
      data.forEach(function(d) {
          d.date = parseDate(d.date);
          d.close = +d.close;
      });
    // Scale the range of the data
      x.domain(d3.extent(data, function(d) { return d.date; }));
      y.domain([0, d3.max(data, function(d) { return d.close; })]);
    // Add the valueline path.
      svg.append("path")
          .attr("class", "line")
          .attr("d", valueline(data));
    // Add the X Axis
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);
    // Add the Y Axis
      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis);
</script>
<svg width="600" height="270"><g transform="translate(50,30)">
<path class="line" d="M530,190.81307074485642L515.2777777777777,192.18285840026405L471.1111111111111,187.8853559247442L456.3888888888889,180.3927824843217L441.6666666666667,177.3231378589504L426.94444444444446,166.99856969963693L412.22222222222223,154.97744526350533L368.05555555555554,132.44031246561778L353.3333333333333,95.98085597975576L338.6111111111111,63.66707008471781L323.8888888888889,30.54131367587192L309.1666666666667,18.5168885465948L265,10.23214875123777L250.27777777777777,4.442732973924536L235.55555555555554,3.310595224997246L220.83333333333334,2.5712399603916705L206.11111111111111,0L147.22222222222223,0.8416767521179624L132.5,3.934426229508224L117.77777777777777,2.2807789635823426L103.05555555555556,5.8092199361865955L58.888888888888886,12.106942457916187L44.166666666666664,8.703927824843213L29.444444444444443,6.142589943888224L14.722222222222221,7.179007591594232L0,9.654527450764668">
</path>

<g class="x axis" transform="translate(0,210)">
  <g class="tick" transform="translate(88.33333333333333,0)" style="opacity: 1;">
      <line y2="6" x2="0"></line>
      <text dy=".71em" y="9" x="0" style="text-anchor: middle;">April</text></g>
  <g class="tick" transform="translate(191.38888888888889,0)" style="opacity: 1;">
      <line y2="6" x2="0"></line>
      <text dy=".71em" y="9" x="0" style="text-anchor: middle;">Apr 08</text></g>
  <g class="tick" transform="translate(294.44444444444446,0)" style="opacity: 1;">
      <line y2="6" x2="0"></line>
      <text dy=".71em" y="9" x="0" style="text-anchor: middle;">Apr 15</text></g>
  <g class="tick" transform="translate(397.5,0)" style="opacity: 1;">
      <line y2="6" x2="0"></line>
      <text dy=".71em" y="9" x="0" style="text-anchor: middle;">Apr 22</text></g>
  <g class="tick" transform="translate(500.55555555555554,0)" style="opacity: 1;">
      <line y2="6" x2="0"></line>
      <text dy=".71em" y="9" x="0" style="text-anchor: middle;">Apr 29</text></g>
<path class="domain" d="M0,6V0H530V6"></path></g>

<g class="y axis">
  <g class="tick" transform="translate(0,210)" style="opacity: 1;">
    <line x2="-6" y2="0"></line>
    <text dy=".32em" x="-9" y="0" style="text-anchor: end;">0</text></g>
  <g class="tick" transform="translate(0,176.99306854439433)" style="opacity: 1;">
    <line x2="-6" y2="0"></line>
    <text dy=".32em" x="-9" y="0" style="text-anchor: end;">100</text></g>
  <g class="tick" transform="translate(0,143.98613708878867)" style="opacity: 1;">
    <line x2="-6" y2="0"></line>
    <text dy=".32em" x="-9" y="0" style="text-anchor: end;">200</text></g>
  <g class="tick" transform="translate(0,110.97920563318296)" style="opacity: 1;">
    <line x2="-6" y2="0"></line>
    <text dy=".32em" x="-9" y="0" style="text-anchor: end;">300</text></g>
  <g class="tick" transform="translate(0,77.97227417757729)" style="opacity: 1;">
    <line x2="-6" y2="0"></line>
    <text dy=".32em" x="-9" y="0" style="text-anchor: end;">400</text></g>
  <g class="tick" transform="translate(0,44.965342721971616)" style="opacity: 1;">
    <line x2="-6" y2="0"></line>
    <text dy=".32em" x="-9" y="0" style="text-anchor: end;">500</text></g>
  <g class="tick" transform="translate(0,11.958411266365948)" style="opacity: 1;">
    <line x2="-6" y2="0"></line>
    <text dy=".32em" x="-9" y="0" style="text-anchor: end;">600</text>
  </g><path class="domain" d="M-6,0H0V210H-6"></path></g>
</g></svg>
</body>
