<!DOCTYPE html>
<html>
  <head>
    <script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>
    <style>
      .line {
        fill: none;
        stroke: green;
        stroke-width: 5px;
      }
    </style>
  </head>
  <body>
    <script>
// set the dimensions and margins of the graph
      var margin = {top: 20, right: 20, bottom: 40, left: 60},
      width = 1200 - margin.left - margin.right,
      height = 400 - margin.top - margin.bottom;
// set the ranges
      var x = d3.scaleTime().domain([75, 150]).range([0, width]);
      var y = d3.scaleLinear().domain([-5,5]).range([height,0]);
// define the line (DATA)
      var valueline = d3.line()
        .x(function(d) { return x(d.t); })
        .y(function(d) { return y(d.v); });
// append the svg obgect to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
      var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g").attr("transform","translate(" + margin.left + "," + margin.top + ")");
// Get the data
      d3.csv("{{ url_for('static', filename='text/pidata3.csv') }}", function(error, data) {
        if (error) throw error;
        // format the data
        data.forEach(function(d) {
          d.t = d.t;
          d.v = d.v;
        });
// Add the valueline path.
        svg.append("path")
          .data([data])
          .attr("class", "line")
          .attr("d", valueline);
// Add the X Axis
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));
// Add the Y Axis
        svg.append("g")
          .call(d3.axisLeft(y));
      });

// Max lijn
      var valuelineMax = d3.line()
        .x(function(d) { return x(d.t); })
        .y(function(d) { return (y(d.v)*1.1); });
// Get the data
      d3.csv("{{ url_for('static', filename='text/pidata3.csv') }}", function(error, data) {
        if (error) throw error;
// format the data
        data.forEach(function(d) {
          d.t = d.t;
          d.v = d.v;
        });
// Add the valueline path.
        svg.append("path")
          .data([data])
          .attr("class", "line")
          .attr("d", valuelineMax);
// Add the X Axis
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));
// Add the Y Axis
        svg.append("g")
          .call(d3.axisLeft(y));
      });

// Min lijn
      var valuelineMin = d3.line()
        .x(function(d) { return x(d.t); })
        .y(function(d) { return (y(d.v)*0.9); });
// append the svg obgect to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin

// Get the data
      d3.csv("{{ url_for('static', filename='text/pidata3.csv') }}", function(error, data) {
        if (error) throw error;
// format the data
        data.forEach(function(d) {
          d.t = d.t;
          d.v = d.v;
        });
// Add the valueline path.
        svg.append("path")
          .data([data])
          .attr("class", "line")
          .attr("d", valuelineMin);
// Add the X Axis
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));
// Add the Y Axis
        svg.append("g")
          .call(d3.axisLeft(y));
      });
      // Add X axis label:
      svg.append("text")
        .attr("text-anchor", "end")
        .attr("x", width)
        .attr("y", height + margin.top + 20)
        .text("Time in seconds");
      // Y axis label:
      svg.append("text")
        .attr("text-anchor", "end")
        .attr("transform", "rotate(-90)")
        .attr("y", -margin.left+20)
        .attr("x", -margin.top)
        .text("Velocity [m/s]")
    </script>
  </body>
</html>
